include:
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - project: "riverstoneinternational/riva/pipeline-templates"
    ref: v1.17.2
    file:
      - /templates/jobs/.sast-check.yaml
      - /templates/jobs/.code-quality-check.yaml
      - /templates/jobs/.buildah-azure-build.yaml

stages:
  - lint
  - test
  - lint_test
  - build
  - deploy

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_MERGE_REQUEST_IID
      variables:
        PIPELINE_NAME: 'Merge Request - $CI_MERGE_REQUEST_TITLE'
    - if: $CI_COMMIT_TAG
      variables:
        PIPELINE_NAME: 'Tag - $CI_COMMIT_TAG'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  ACCESS_TOKEN: $group_token
  SECRET_DETECTION_HISTORIC_SCAN: "true"
  SEARCH_MAX_DEPTH: 10
  GEMNASIUM_LIBRARY_SCAN_ENABLED: "true"
  CODE_QUALITY_ALLOWED_FAILURES: 200
  SAST_ALLOWED_FAILURES: 3
  DOCKER_API_VERSION: "1.44"
  SEM_VER: $CI_COMMIT_TAG
  NEW_RELIC_LICENSE_KEY: $NEW_RELIC_LICENSE_KEY
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  PROJECT_DIR: $CI_PROJECT_DIR
  SUFFIX: "-snapshot"
  DEPLOY_ENV: "dev"
  DEPLOY_ENV_TAG:
    value: "dev"
    options: ["dev", "prod", "prod-like"]
    description: "Deployment environment tag. Set to 'prod' for production deployments, otherwise defaults to 'dev'."

default:
  interruptible: true
  tags: [riva, riverstone, $DEPLOY_ENV]

secret_detection:
  stage: lint_test

semgrep-sast:
  stage: lint_test

ui_build:
  stage: build
  image: node:22-alpine
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
  before_script:
    - apk add --no-cache git
    - export VITE_APP_VERSION=$(git tag -l --sort=-creatordate | head -1)
    - echo "Building version ${VITE_APP_VERSION:-untagged}"
    - cd ui
    - yarn install --frozen-lockfile
  script:
    - yarn build
  artifacts:
    paths:
      - ui-dist
    expire_in: 1 day

validate_semgrep_sast:
  stage: lint_test
  allow_failure: true

report_semgrep_sast:
  stage: lint_test
  allow_failure: true

validate_code_quality:
  stage: lint_test
  allow_failure: true

build_image:
  stage: build
  needs:
    - ui_build
    - job: get_token
      artifacts: true
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        SUFFIX: ""
    - if: '$CI_COMMIT_TAG != null'
      variables:
        IMAGE_TAG: "${SEM_VER}.${DEPLOY_ENV_TAG}"
        SUFFIX: ""
  before_script:
    - sed -i "s|\${replace_with_NEW_RELIC_LICENSE_KEY}|${NEW_RELIC_LICENSE_KEY}|g" ./Dockerfile
    - sed -i "s|replace_with_VITE_APP_VERSION|${CI_COMMIT_TAG:-${CI_COMMIT_SHORT_SHA}}|g" ./Dockerfile
    - cat "${RSML_CA_CERT}" > ./ca.crt
    # Enable OIDC for Azure authentication (WorkloadIdentityCredential)
    - mkdir -p /tmp/azure_oidc
    - echo "${CI_JOB_JWT}" > /tmp/azure_oidc/token
    - export AZURE_FEDERATED_TOKEN_FILE=/tmp/azure_oidc/token

trigger_downstream_deploy:
  stage: deploy
  needs: [build_image]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG
      variables:
        DEPLOY_ENVIRONMENT: dev
        AUTO_APPLY: "true"
  trigger:
    project: riverstoneinternational/riva/riva-infrastructure-application
    strategy: depend
